/dts-v1/;

#include "tegra114.dtsi"

/ {
	model = "ASUS TF701";
	compatible = "nvidia,tegra114";

	chosen {
		/*bootargs = "console=tty1 earlyprintk ignore_loglevel gpt fbcon=rotate:1 initrd=0x82000000,0x800000";*/
		/*bootargs = "console=ttyS0,115200n8 console=tty1 earlyprintk ignore_loglevel gpt fbcon=rotate:1 initrd=0x82000000,0x800000";*/
		bootargs = "console=tty1 console=ttyS0,115200n8 earlyprintk no_console_suspend=1 gpt gpt_sector=73727";
	};

	firmware {
		trusted-foundations {
			compatible = "tlm,trusted-foundations";
			tlm,version-major = <2>;
			tlm,version-minor = <8>;
		};
	};

	memory {
		reg = <0x80000000 0x2ce00000
		       /* hole for bootloader-initialized framebuffer */
		       0xaf000000 0x48000000>;
	};


	serial@70006300 {
		status = "okay";
	};

	gpio@6000d000 {
		compatible = "nvidia,tegra114-gpio", "nvidia,tegra30-gpio";
		reg = <0x6000d000 0x1000>;
		interrupts = <0 32 0x04
				0 33 0x04
				0 34 0x04
				0 35 0x04
				0 55 0x04
				0 87 0x04
				0 89 0x04
				0 125 0x04>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		status = "disabled";
	};


	i2c@7000c000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "nvidia,tegra114-i2c";
		reg = <0x7000c000 0x100>;
		interrupts = <0 38 0x04>;
		scl-gpios = <&gpio 20 0>; /* gpio PC4 */
		sda-gpios = <&gpio 21 0>; /* gpio PC5 */
		status = "disabled";
	};

	i2c@7000d000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "nvidia,tegra114-i2c";
		reg = <0x7000d000 0x100>;
		interrupts = <0 53 0x04>;
		scl-gpios = <&gpio 206 0>; /* gpio PZ6 */
		sda-gpios = <&gpio 207 0>; /* gpio PZ7 */
		status = "disabled";
	};

	pmc {
		nvidia,invert-interrupt;
	};

	usb@7d000000 {
		status = "okay";
	};

	/* Wifi */
	sdhci@78000000 {
		status = "okay";
		bus-width = <4>;
		broken-cd;
		keep-power-in-suspend;
	};


	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock {
			compatible = "fixed-clock";
			reg=<0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	fb@ace23000{
		compatible = "simple-framebuffer";
		reg = <0xace23000 0x01f68000>;
		width = <1600>;
		height = <2560>;
		stride = <(2560 * 4)>;
		format = "a8b8g8r8";
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 40000>;

		brightness-levels = <0 16 32 48 64 80 96 112 128 144 160 176 192 208 224 240 255>;
		default-brightness-level = <10>;
	};

	pwm: pwm {
		status = "okay";
	};
};
